[flake8]
# 适当提高最大行长度
max-line-length = 115

# 设置最大复杂度
max-complexity = 24
ignore =
    # 忽略这些错误类型
    E203  # whitespace before :
    W503  # line break before binary operator

# 忽略以下文件
exclude =
    .git,
    .venv,
    __pycache__,
    logs,
    build/**,
    doc/**

per-file-ignores =
    # __init__.py files are allowed to have unused imports and lines-too-long
    allennlp_models/__init__.py:F401
    allennlp_models/**/__init__.py:F401,E501

    # tests don't have to respect
    #  E501: line length
    #  E261: 2 spaces before comments (it would be ideal if they did, though)
    #  E731: do not assign a lambda expression, use a def
    #  F401: unused imports
    tests/**:E501,E261,E731,F401

